@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
  }
}

@import '@skeletonlabs/skeleton/themes/skeleton.cerulean.css';
@import '@skeletonlabs/skeleton/styles/all.css';
